/.ipynb_checkpoints/
/Code_christensen
/Movies/
/__MACOSX/
/__pycache__/
/automated_data/
/matched_filter_plots/
/matched_filter_testing/
/romulus_zooms
/signal_files.zip
/matched_filter_starters/bgcats
/matched_filter_starters/__MACOSX
/matched_filter_starters/plots
/matched_filter_starters/r_741_data
/matched_filter_starters/r741.zip
/matched_filter_starters/rogue_5_data
/matched_filter_starters/signal_files
/matched_filter_starters/storm_2_data
k
