/code/Code_christensen/
/code/.ipynb_checkpoints/
/code/.DS_Store
/coordinates_and_rotation/movies/
/coordinates_and_rotation/.ipynb_checkpoints/
/coordinates_and_rotation/.DS_Store
/matched_filter/mf_data/
/matched_filter/.ipynb_checkpoints/
/matched_filter/.DS_Store
/raw_data/
/stream_analysis/stfit_outputs/
/stream_analysis/.ipynb_checkpoints/
/stream_analysis/.DS_Store
/substructure_detection/sd_outputs/
/substructure_detection/.ipynb_checkpoints/
/substructure_detection/.DS_Store
/.ipynb_checkpoints/
/.DS_Store
